{{!-- <div class="realTimeBody">

    <h1>Productos en Tiempo Real</h1>

    <div class="form">

        <h2>Formulario para agregar productos </h2>

        <form>
            <input type="text" id="title" placeholder="Titulo">
            <input type="text" id="description" placeholder="Descripción">
            <input type="number" id="price" placeholder="Precio">
            <input type="text" id="thumbnails" placeholder="Imagen">
            <input type="text" id="code" placeholder="Código">
            <input type="number" id="stock" placeholder="Stock">
            <input type="text" id="category" placeholder="Categoria">
            <select id="status">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
            <button type="button" id="btnEnviar">Enviar</button>
        </form>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="js/index.js"></script>
    </div>
    <div class="containerProducts" id="containerProducts"></div>
</div> --}}
<div class="container">
    <h1 class="text-center"><strong>Agregar nuevo Producto</strong></h1>
    <p class="text-center">Ingresa los datos del nuevo producto</p>
    <form class="row">
        <div class="col-6">
            <label class="form-label" for="title">Nombre</label>
            <input class="form-control" type="text" id="title" required placeholder="ingrese el nombre del articulo">
        </div>
        <div class="col-6">
            <label class="form-label" for="description">Descripcion</label>
            <input class="form-control" type="text" id="description" required
                placeholder="ingrese la descripcion del articulo">
        </div>
        <div class="col-6">
            <label class="form-label" for="price">Precio</label>
            <input class="form-control" type="number" id="price" required placeholder="ingrese el nombre del articulo">
        </div>
        <div class="col-6">
            <label class="form-label" for="title">Nombre</label>
            <input class="form-control" type="text" id="title" required placeholder="ingrese el nombre del articulo">
        </div>
    </form>
    <button type="button" id="btnEnviar">Enviar</button>

</div>